@page "/nba"
@using SportsSimulator.Shared
@using SportsSimulator.Shared.Models
@using System.Reflection

<style>
	td {
			padding-left: 4px;
			padding-right: 4px;
	}
</style>

<PageTitle>NBA</PageTitle>
<h1>NBA</h1>

<div>
	<h3>Build</h3>
	<MudButton @onclick="@BuildLineups">Build</MudButton>
</div>

<strong>@lineups.Count()</strong>
<hr />
@*@if (fetching) {
	<div>Building Lineups!!!!</div>
}*@



<table class="table-bordered">
	@foreach (var lineup in lineups) {

		<tr>
			<td colspan="3">
				@lineup.ToCSV()
			</td>
		</tr>
	}
</table>